<section id="competence">
<div id="intro-down-arrow-target" class="landing-quote">
<div class="wrapper"><div class="blockquote">
        <figure class="background">
            <img src="{{ asset('build/left-quotes-sign.png') }}" alt="Quote Left">
            <blockquote>Nous vivons aujourd'hui dans un monde où la compétence la plus
                précieuse que nous pouvons vendre est la connaissance.</blockquote>
            <figcaption>Barack Obama</figcaption>
            <img src="{{ asset('build/right-quotes-symbol.png') }}" alt="Quote Right">
        </figure>
    </div>
</div>
</div>

<h2 class="title text-center text-dark mt-5">Mes competences</h2>
<div class="row">

    {% for competence in competences %}

        <div class="competence col-sm-6 col-md-3 col-lg-2">
            <div class="card margin">
                <div class="card-body">
                    <h5 class="card-title text-center"> {{ competence.name }}</h5>
                </div>
            </div>
        </div>
    {% else %}
        "Il n'y a actuellement aucunes compétences saisies"
    {% endfor %}
</div>
</section>