<div id="intro-down-arrow-target" class="landing-quote">
<div class="wrapper"><div class="blockquote">
        <figure class="background">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" x="0" y="0" viewBox="0 0 508.044 508.044">
                            <path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938    s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303    C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z" fill="#de892f" data-original="#000000" style="" class=""/>
                            <path d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599    c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371    C266.175,352.426,266.169,352.475,266.169,352.536z" fill="#de892f" data-original="#000000" style="" class=""/>
            </svg>
            <blockquote>Nous vivons aujourd'hui dans un monde où la compétence la plus
                précieuse que nous pouvons vendre est la connaissance.</blockquote>
            <figcaption>Barack Obama</figcaption>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" x="0" y="0" viewBox="0 0 508.044 508.044">
                <path d="M507.93,155.673c0-0.055,0.006-0.11,0.006-0.165c0-66.793-54.145-120.938-120.938-120.938S266.061,88.714,266.061,155.508    c0,66.794,54.15,120.938,120.938,120.938c13.727,0,26.867-2.393,39.162-6.609c-27.209,156.09-148.93,256.752-36.096,173.905    C515.182,351.874,508.07,159.198,507.93,155.673z" fill="#de892f" data-original="#000000" style=""/>
                <path d="M120.938,276.445c13.727,0,26.867-2.393,39.168-6.609c-27.216,156.09-148.937,256.752-36.102,173.905    c125.117-91.867,118.006-284.543,117.865-288.068c0-0.055,0.006-0.11,0.006-0.165c0-66.793-54.144-120.938-120.937-120.938    C54.144,34.57,0,88.714,0,155.508C0,222.302,54.15,276.445,120.938,276.445z" fill="#de892f" data-original="#000000" style=""/>
            </svg>
        </figure>
    </div>
</div>
</div>

<h2 class="title text-center text-dark mt-5">Mes competences</h2>
<div class="row">

    {% for competence in competences %}

        <div class="competence col-sm-6 col-md-3 col-lg-2">
            <div class="card margin">
                <div class="card-body">
                    <h5 class="card-title text-center"> {{ competence.name }}</h5>
                </div>
            </div>
        </div>
    {% else %}
        "Il n'y a actuellement aucunes compétences saisies"
    {% endfor %}
</div>

    <div class="container-fluid">
        <div class="text-right">
            <a href="#top">Haut de page</a>
        </div>
    </div>