<div id="intro-down-arrow-target" class="landing-quote">
    <div class="wrapper"><div class="blockquote">
            <figure class="background">
                <img src="{{ asset('build/left-quotes-sign.png') }}" alt="Quote Left">
                <blockquote>Un esprit qui, jour après jour, relève les bons défis et
                    choisit les bonnes batailles reste serein et grandit sainement.</blockquote>
                <figcaption>Daniel Desbiens</figcaption>
                <img src="{{ asset('build/right-quotes-symbol.png') }}" alt="Quote Right">
            </figure>
        </div>
    </div>
</div>

<div class="grid center">
    <ul id="hexGrid">
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="{{ path('contact_index') }}">
                    <div class='img' style='background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxXwAJr8fGmkDzHH0ZVffkCkrGddbJW38KCQ&usqp=CAU&ec=45771800);'></div>
                    <h4 id="demo1">Mon adresse mail</h4>
                    <p id="demo2">Contactez moi</p>
                </a>
            </div>
        </li>
    </ul>
</div>
