<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 .col-md-offset-3">
                <ul class="social">
                    <li class="github"><a href="http://facebook.com/alterowo"><img class="logo" src="{{ asset('build/github (1).png') }}" alt="github"></a></li>
                    <li class="twitter"><a href="http://twitter.com/Kyokushinowa"><img class="logo" src="{{ asset('build/mail (1).png') }}" alt="twitter"></a></li>
                    <li class="linkedin"><a href="https://www.behance.net/Kurnikowa"><img class="logo" src="{{ asset('build/linkedin (1).png') }}" alt="linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>