<div class="container-fluid p-0 m-0">
    <section class="header d-flex align-items-center justify-content-center">
        <div class="text-light mb-4 d-flex flex-column align-items-center">
            <h1 class="mb-1 title">Sandra Louchart</h1>
            <div class="line-light my-2">
                <h2 class="title">Développeuse web Back-end Junior</h2>
            </div>
        </div>
    </section>
    <section id="presentation" class="d-flex flex-column align-items-center py-4">
        <h3 class="my-4 text-center text-uppercase">Qui suis je?</h3>
        <div class="line-dark mb-4"></div>
        <div class="row align-items-center justify-content-center presentation-responsive my-4 mx-0">
            <div class="col-lg-4 mr-lg-5 col-sm-12 text-wrap text-center text-presentation">
               <p class="presentation"> Force de mes expériences passées en tant qu'ergothérapeute j'ai consolider durant ma formation à
                la Wild Code School mon intêret pour réaliser des projets et aider les clients afin de pouvoir
                répondre à leurs besoins.</p> <br>
               <p class="presentation"> Je suis une jeune femme passionée par la découverte et le défi quel sera le prochain ?</p>
            </div>
        </div>
    </section>
<div class="grid">
    <ul id="hexGrid">
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image:url(https://image.freepik.com/vecteurs-libre/telephone-portable-mignon-ecouter-musique-casque-cartoon-icon-illustration-concept-icone-musique-technologie-isole-style-dessin-anime-plat_138676-1397.jpg);'></div>
                    <h4 id="demo1">Mon numéro</h4>
                    <p id="demo2">00.00.00.00.00</p>
                </a>
            </div>
        </li>

        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxXwAJr8fGmkDzHH0ZVffkCkrGddbJW38KCQ&usqp=CAU&ec=45771800);'></div>
                    <h4 id="demo1">Mon adresse mail</h4>
                    <p id="demo2">sandra.louchart@gmail.com</p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image: url(https://cdn.tomsguide.fr/content/uploads/sites/2/2019/01/github.jpg);'></div>
                    <h4 id="demo1">Mon compte git Hub</h4>
                    <p id="demo2">github.com</p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image: url(https://www.avisto.com/wp-content/uploads/2018/10/comment-utiliser-linkedin.jpg);'></div>
                    <h4 id="demo1">Mon linkedin</h4>
                    <p id="demo2">sdfgfbhrf</p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image: url(https://help.twitter.com/content/dam/help-twitter/brand/logo.png);'></div>
                    <h4 id="demo1">Mon compte twitter</h4>
                    <p id="demo2">dfgh</p>
                </a>
            </div>
        </li>
    </ul>
</div>
