
<div class="about d-lg-flex my-5">
    <div class="about-content">
        <div class="content-title">
            <h1>Web developpeuse PHP Junior</h1>
            <h2>Qui suis-je?</h2>
        </div>
        <div class="content-subtitle">
            <h3>
                Sandra Louchart
            </h3>
        </div>
        <div class="content-body">
            <p>Force de mes expériences passées en tant qu'ergothérapeute j'ai consolider durant ma formation à
                la Wild Code School mon intêret pour réaliser des projets et aider les clients afin de pouvoir
                répondre à leurs besoins</p>
            <p>Je suis une jeune femme passionée par la découverte et le défi quel sera le prochain ?</p>
        </div>
    </div>
</div>

<div class="grid">
    <ul id="hexGrid">
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image:url(https://image.freepik.com/vecteurs-libre/telephone-portable-mignon-ecouter-musique-casque-cartoon-icon-illustration-concept-icone-musique-technologie-isole-style-dessin-anime-plat_138676-1397.jpg);'></div>
                    <h4 id="demo1">Mon numéro</h4>
                    <p id="demo2">00.00.00.00.00</p>
                </a>
            </div>
        </li>

        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxXwAJr8fGmkDzHH0ZVffkCkrGddbJW38KCQ&usqp=CAU&ec=45771800);'></div>
                    <h4 id="demo1">Mon adresse mail</h4>
                    <p id="demo2">sandra.louchart@gmail.com</p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image: url(https://cdn.tomsguide.fr/content/uploads/sites/2/2019/01/github.jpg);'></div>
                    <h4 id="demo1">Mon compte git Hub</h4>
                    <p id="demo2">github.com</p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image: url(https://www.avisto.com/wp-content/uploads/2018/10/comment-utiliser-linkedin.jpg);'></div>
                    <h4 id="demo1">Mon linkedin</h4>
                    <p id="demo2">sdfgfbhrf</p>
                </a>
            </div>
        </li>
        <li class="hex">
            <div class="hexIn">
                <a class="hexLink" href="#">
                    <div class='img' style='background-image: url(https://help.twitter.com/content/dam/help-twitter/brand/logo.png);'></div>
                    <h4 id="demo1">Mon compte twitter</h4>
                    <p id="demo2">dfgh</p>
                </a>
            </div>
        </li>
    </ul>
</div>
