<nav class="navbar navbar-expand-lg navbar-light mb-5">
    <a class="navbar-brand" href=""><img src="" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container cyan brackets collapse navbar-collapse">
        <a>Qui suis je</a>
        <a>Compétences</a>
        <a>Portfolio</a>
        <a>Contact</a>
    </div>
    {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}
</nav>
