@import 'vars.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $c-light ;
  font-family: $ff-title;
  color: $c-secondary;
}
//navBar
nav {
  background-color: $c-primary ;

}

div.container
{
  font-family: $ff-main;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

div.container a
{
  color: #FFF;
  text-decoration: none;
  font: 20px $ff-main;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.brackets a:before, div.brackets a:after
{
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s;
}

div.brackets a:before
{
  content: '(';
  left: 0px;
  transform: translateX(10px);
}

div.brackets a:after
{
  content: ')';
  right: 0px;
  transform: translateX(-10px);
}

div.brackets a:hover:before, div.brackets a:hover:after
{
  opacity: 1;
  transform: translateX(0px);
}

//block Citation

.landing-quote{
  margin-top: 50px;
}

.blockquote figure {
  max-width: 49.375rem;
  margin: 0 auto;
  padding: 6.25rem 2.5rem;
  position: relative;
}
figure {
  margin: 1em 40px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.blockquote figure svg:first-child {
  top: 1.25rem;
  left: 0;
  transform: translate3d(-30%,0,0);
}

.blockquote figure svg:last-child {
  bottom: 1.875rem;
  right: 0;
  transform: translate3d(30%,0,0);
}

.blockquote figure svg {
  width: 50px;
  height: auto;
  position: absolute;
}
svg {
  max-width: 100%;
  width: 30px;
  height: 30px;
}
svg {
  border: 0;
}

.blockquote figure.background blockquote {
  margin: 0 0 1.25rem;
}

.blockquote figure blockquote {
  margin: 0 0 2.1875rem;
  color: $c-light;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  text-align: center;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.blockquote figure figcaption {
  text-align: center;
  margin: 0 auto;
  color: $c-light;
  font-size: .875rem;
  font-weight: 300;
  display: block;
}

.landing-quote{
  background-color: $c-primary;
}

//Administrative
#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: sans-serif;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent;
  transition: all 0.5s;
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.5s;
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%;
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent;
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  transition: all 0.5s;
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent;
}
.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
  transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h4, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  font-weight: 300;
  opacity: 0;
}

#demo1 {
  color: #F5CE95;
  text-transform: capitalize;
  text-align: center;
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
}
.hex h4:before, .hex h1:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.25em;
  height: 0.03em;
  background: #ffffff;
  content: '';
  vertical-align: middle;
  transition: all 0.3s;
  text-align:center;
}

#demo2 {
  top: 50%;
  text-align: center;
  text-transform: uppercase;

}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
.img:before {
  background: rgba(22, 103, 137, 0.3)
}
.img:after {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.hexLink:hover h4, .hexLink:focus h4,
.hexLink:hover p, .hexLink:focus p{
  opacity:1;
  transition: 0.8s;
}

.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
  opacity: 1;
}

@media (min-width:1201px) {
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%;
  }
  .hex:nth-child(9n+6){
    margin-left:10%;
  }
}

@media (max-width: 1200px) and (min-width:901px) {
  #hexGrid{
    padding-bottom: 5.5%;
    font-size: 13px;
  }
  .hex {
    width: 25%;
  }
  .hex:nth-child(7n+5){
    margin-left:12.5%;
  }
}

@media (max-width: 900px) and (min-width:601px) {
  #hexGrid{
    padding-bottom: 7.4%;
    font-size: 14px;
  }
  .hex {
    width: 33.333%;
  }
  .hex:nth-child(5n+4){
    margin-left:16.666%;
  }
}

@media (max-width: 600px) {
  #hexGrid{
    padding-bottom: 11.2%;
    font-size: 12px;
  }
  .hex {
    width: 50%;
  }
  .hex:nth-child(3n+3){
    margin-left:25%;
  }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 8px;
  }
}

//formations
#home_quicklinks {
  padding: 20px 0;
  text-align: center;
}
a.quicklink.link1 {
  background: $c-card;
}
a.quicklink {
  display: inline-block;
  width: 302px;
  height: 173px;
  position: relative;
  margin: 90px 30px;
}
a.quicklink .ql_caption {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.outer {
  display: table;
  position: relative;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
}
.inner {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
  background: $c-card;
}
a.quicklink .ql_caption h3 {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  line-height: 1.46em;
  color: $c-dark;
}
a.quicklink.link1 .ql_top {
  border-bottom-color: $c-card;
}
a.quicklink.link1 .ql_bottom {
  border-top-color: $c-card;
}

.ql_top {
  bottom: 173px;
  border-bottom: 89px solid $c-card;
}
.ql_bottom {
  top: 173px;
  border-top: 89px solid $c-card;
}
.ql_top, .ql_bottom {
  position: absolute;
  left: 0px;
  width: 0px;
  border-left: 151px solid transparent;
  border-right: 151px solid transparent;
}

//projects
.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail
{
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item
{
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
}

p{
  color:$c-dark;
}

//Me

//competences

h1{
  color: $c-primary;
  font-size: 35px
}
h2{
  color: $c-secondary;
  font-size: 30px
}
h3{
  color: $c-primary;
  font-size: 28px
}
h4{
  color: $c-secondary;
  font-size: 22px
}
h5{
  color: $c-primary;
  font-size: 16px
}

.presentation {
    color:$c-dark;
    font-size: 22px;
}
.project{
  margin: 50px;
}
.competence{
  margin: 50px;
  border-radius: 25px;
}

.contactez{
  margin-right: 50rem;
}
//contact
.contact {
  background-color: $c-light;
  height: 100vh;
}

.contact h1 {
  margin-bottom: 25px;
}

.contact label {
  color: $c-dark;
}

.contact input, .contact textarea {
  border: none;
  border-bottom: 1px solid $c-dark;
  background: $c-light;
  height: 48px;
  border-radius: 3px 3px 0 0;
  color: $c-dark;
  margin: 25px ;
  width: 30vw;
}

.contact textarea {
  height: 128px;
}

.contact input:focus, .contact textarea:focus {
  background: $c-secondary;
  border: none;
}

.contact button {
  background: $c-secondary;
  border: none;
  color: $dark;
  font-weight: 700;
  height: 48px;
  width: 128px;
  margin: 25px;
}

.contact button:hover {
  background: $c-primary;
  color: $c-light;
}

.nav-link {
  color: $c-secondary;
}