@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&family=Oswald:wght@500&display=swap');
@import "~bootstrap/scss/bootstrap";

$light: #F1EBFF;
$dark: #070014;
$primary: #160042;
$secondary: #DE892F;

$font-title:'Oswald', cursive ;
$font-text:'Lato', cursive;

$text-size: 16pt;
$h1-size: 48pt;
$h2-size: 40pt;
$h3-size: 20pt;
$h4-size: 18pt;
$h5-size: 14pt;

$space: 1rem;
$space-sm: $space - .5;
$space-md: $space + .5;
$space-lg: $space + .5 * 2;
$space-xl: ($space + .5) * 3;